<style>
  .auth-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-wrapper .sign-form{
    max-width: 450px;
    width: 100%;
    padding: 0 20px;
  }

  .auth-wrapper h1{margin-bottom: 20px;}
</style>

<div class="auth-wrapper">
  <div class="sign-form">
    <h1>Sign Up</h1>

    <%= formFor(user, {action: usersPath()}) { %>
      <div class="mb-3">
        <%= f.InputTag("Email") %>
      </div>
      <div class="mb-3">
        <%= f.InputTag("Password", {type: "password"}) %>
      </div>
      <div class="mb-3">
        <%= f.InputTag("PasswordConfirmation", {type: "password"}) %>
      </div>
      <div class="mb-3">
        <%= f.InputTag("FirstName", {}) %>
      </div>
      <div class="mb-3">
        <%= f.InputTag("LastName", {}) %>
      </div>
      <button class="btn btn-success" type="submit">Register!</button>
    <% } %>
  </div>
</div>
